doctype html
head
	meta(charset='utf-8')
	meta(name='description' content='')
	meta(name='keywords' content='')
	meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
	meta(content='telephone=no' name='format-detection')
	// if IE meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	// if lt IE 9 script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')
	title jQuery Simple Modal
	link(href='favicon.ico' rel='shortcut icon' type='image/x-icon')
	link(href='css/example.min.css' rel='stylesheet')
	link(href='css/jquery.' + plugin + '.min.css' rel='stylesheet')
	link(href="css/dark.min.css" media='(prefers-color-scheme: dark)' rel='stylesheet')
body
	header.header
		.header__container
			.header__heading jQuery Simple Modal
			.header__description Very simple responsive jQuery modal plugin
			.header__links
				.header__link
					a.link(href='https://github.com/maximzhurkin/jquery-simple-modal/archive/master.zip') Download
				.header__link
					a.link(href='https://github.com/maximzhurkin/jquery-simple-modal') Github
	section.usage
		.usage__container
			.usage__heading Usage
			.usage__content
				p
					strong Include jquery.simple-modal.css to head
				p
					pre
						| &lt;link href=&quot;/dist/css/jquery.simple-modal.min.css&quot; rel=&quot;stylesheet&quot;&gt;
				p
					strong Include jQuery and simple modal
				p
					pre
						| &lt;script src=&quot;http://code.jquery.com/jquery-latest.min.js&quot;&gt;&lt;/script&gt;
						br
						| &lt;script src=&quot;/dist/js/jquery.simple-modal.min.js&quot;&gt;&lt;/script&gt;
				p
					strong Initialize plugin
				p
					pre
						| $(document).ready(function(){
						|     $('.button').click(function(){
						|         $().simpleModal();
						|     });
						| });
				p
					strong Custom settings
				p
					pre
						| $().simpleModal({
						|     name: 'example',
						|     title: 'Example',
						|     content: '&lt;button class=&quot;my-button&quot;&gt;Lorem ipsum&lt;/button&gt;',
						|     size: 'small', // or integer for px
						|     freeze: true,
						|     callback: function() {
						|       $('.simple-modal--example .my-button').click(function() {
						|         console.log('Click from modal');
						|       });
						|     }
						| });
	section.demo
		.demo__container
			.demo__heading Demo
			.demo__content
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-small') Show small modal
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-middle') Show middle modal
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-large') Show large modal
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-callback') Show from modal
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-unfreeze') Show small modal without freeze
				.demo__link
					a.link.link--dotted(href='#', data-action='modal-custom') Show custom size modal
	footer.footer
		.footer__container
			.footer__copyright jQuery simple modal plugin by Max Zhurkin.
			.footer__links
				.footer__link
					a.github-button(href='https://github.com/maximzhurkin' aria-label='Follow @maximzhurkin on GitHub') Follow @maximzhurkin
				.footer__link
					a.github-button(href='https://github.com/maximzhurkin/jquery-simple-modal' data-icon='octicon-star' aria-label='Star maximzhurkin/jquery-simple-modal on GitHub') Star
				.footer__link
					a.github-button(href='https://github.com/maximzhurkin/jquery-simple-modal/fork' data-icon='octicon-repo-forked' aria-label='Fork maximzhurkin/jquery-simple-modal on GitHub') Fork
				.footer__link
					a.github-button(href='https://github.com/maximzhurkin/jquery-simple-modal/archive/master.zip' data-icon='octicon-cloud-download' aria-label='Download maximzhurkin/jquery-simple-modal on GitHub') Download
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
	script(src='https://buttons.github.io/buttons.js')
	script(src='js/jquery.' + plugin + '.min.js')
	script(src='js/example.min.js')
