.simple-modal
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba(#000, .5)
	z-index 9999
	overflow-y auto
	overflow-x hidden
	-webkit-overflow-scrolling touch
	animation animationSimpleModalOverlay .25s 1
	&::-webkit-scrollbar
		width 4px
	&::-webkit-scrollbar-thumb
		background-color rgba(#fff, .66)
	&__container,
	&__middle
		height 100%
	&__container
		margin-left auto
		margin-right auto
		padding-left 16px
		padding-right 16px
	&__middle,
	&__box
		width 100%
	&__middle
		display table
	&__box
		padding-top 16px
		padding-bottom 16px
		display table-cell
		vertical-align middle

@keyframes animationSimpleModalOverlay
	from
		opacity: 0
	to
		opacity: 1

@keyframes animationSimpleModalBox
	from
		opacity: 0
		transform: scale3d(0.95, 0.95, 0.95)
	to
		opacity: 1
		transform: scale3d(1, 1, 1)

.simple-modal-box
	margin-left auto
	margin-right auto
	display block
	background-color #fff
	border-radius 6px
	box-shadow 0 16px 64px rgba(#000, .05)
	animation animationSimpleModalBox .25s 1
	&--small
		max-width 280px
	&--middle
		max-width 480px
	&--large
		max-width 640px
	&__header,
	&__content
		padding-left 16px
		padding-right 16px
		padding-bottom 16px
	&__header
		padding-top 16px
		position relative
	&__title
		padding-right 16px + 24px
		font-size (16 / 16em)
		line-height (24 / 16em)
		font-weight 700
	&__close
		padding 0
		cursor pointer
		width 24px
		height 24px
		outline none
		position absolute
		top 16px
		right 16px
		background-color transparent
		background-image url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7.773 7L13.84.935a.547.547 0 1 0-.774-.773L7 6.227.933.161A.547.547 0 1 0 .16.934l6.066 6.067L.16 13.067a.547.547 0 1 0 .773.774L7 7.774l6.066 6.067a.545.545 0 0 0 .774 0 .547.547 0 0 0 0-.774L7.773 7.001z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0H14V14H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
		background-size 14px
		background-position center
		background-repeat no-repeat
		border none
		transition transform .25s ease-in-out, opacity .1s ease-in-out
		.no-touch &:hover
			transform rotate(90deg)
		.no-touch &:active
			opacity .7
